<!DOCTYPE html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    var room = 0;
    function education_fields() {
        room++;
        var objTo = document.getElementById('education_fields')
        var divtest = document.createElement("div");
        divtest.setAttribute("class", "form-group removeclass"+room);
        var rdiv = 'removeclass'+room;
        divtest.innerHTML = '' +
            '<div class="col-sm-1 nopadding t">' +
            '<h4 class="text-center">'+ room + '.Text' +'</h4>' +
            '</div>' +
            '<div class="col-sm-11 nopadding">' +
            '   <div class="form-group">' +
            '       <div class="input-group">' +
            '           <input type="text" class="form-control" id="Degree" name="Texts[]" value="" placeholder="Text">' +
            '           <div class="input-group-btn"> ' +
            '           <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>' +
            '           </div>' +
            '       </div>' +
            '   </div>' +
            '</div>' +
            '<div class="clear"></div>';
        objTo.appendChild(divtest)
    }
    function remove_education_fields(rid) {
        $('.removeclass'+rid).remove();
        room--;
    }
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Merge</title>
</head>
<body>
<form action="/savetext" method="post" id="form">
<div class="panel panel-default">
    <div class="panel-heading">Text Merge Algorithm Input Form</div>
    <div class="panel-heading">Input Texts;</div>
    <div class="panel-body">
        <div id="education_fields">
        </div>
        <div class="col-sm-6 nopadding">
        </div>
        <div class="col-sm-4 nopadding">
            <div class="form-group">
                <div class="input-group">
                    <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                </div>
            </div>
        </div>
        <div class="col-sm-2 nopadding">
            <br/>
            <button class="btn" type="submit" id="button2"> <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Merge </button>
        </div>
        <div class="clear"></div>
    </div>
    <div class="panel-footer"><small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>, <small>Press <span class="glyphicon glyphicon-minus gs"></span> to remove form field :)</small></div>
</div>
</form>
</body>
</html>